---
import MainLayout from "../layouts/main.astro";
---

<MainLayout title="Emily D'Silva">
    <div class="group">
        <p class="title">Who am I?</p>
        <p>
            Hello! I am in my second year of mechatronics engineering at the
            University of Waterloo. I enjoy designing all sorts of mechanical
            systems in SolidWorks and I love hands on implementation projects.
            In my free time I tinker with various songs on the piano, play long
            and complex board games with friends and family, and do some
            photography with my very old DSLR. I am highly motivated and
            energetic when given any sort of problem to solve and I love getting
            my hands dirty to get work done.
        </p>
    </div><br />
    <hr />
    <div class="group">
        <p class="title">Contact</p>
        <p>Email: edsilva@uwaterloo.ca</p>
        <p>LinkedIn: https://www.linkedin.com/in/emily-dsilva/</p>
    </div><br />
    <hr />
</MainLayout>
