---
import "../styles.css";
---
<div class="header">
    <nav>   
        <a href="/" class = "titlehover">    
            <h1 style = "font-size: 35pt; margin-top:10pt;">Emily D'Silva</h1>
        </a>
    </nav>
    <nav>   
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/interests">Interests</a>
        <a href="/resume2025.pdf">Resume</a>
    </nav>
    <hr>
</div>
<style>
    .header {
        text-align: center;
        font-size: 24pt;
    } 
    nav {
        display: flex;
        justify-content: center;
        font-size: 18pt;
        align-items: center;
        margin-top: -20pt;
        gap: 15pt;
    }

</style>